.deleteOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .deleteModalContainer {
    width: 382px;
    height: 298px;
    position: fixed;
    top: 33%;
    left: 50%;

    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    z-index: 2;
  }
  .deleteConfirmation{
    position: fixed;
    width: 254px;
    height: 24px;
    left: 64px;
    top: 40px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
    color: #2E2E2E;
  }
  .deleteConfirmationMessage{
    position: fixed;
    width: 309px;
    height: 40px;
    left: 36px;
    top: 115px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    text-align: center;

    color: #666666;
  }
  .deleteBtnContainer{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 170px;
    left: 16px;
  }
  .closeBtn{
    position: fixed;
    width: 163px;
    height: 40px;
    left: 16px;
    top: 232px;

    border: 1px solid #30AFB5;
    border-radius: 4px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    text-align: center;

    color: #30AFB5;
    cursor: pointer;
  }
  .deleteBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: fixed;
    width: 163px;
    height: 40px;
    left: 203px;
    top: 232px;

    background: #30AFB5;
    border-radius: 4px;
    border: 1px solid #30AFB5;
    cursor: pointer;
  }
  .deleteBtnImg{
      width: 20px;
      height: 20px;
  }
  .deleteText{
      width: 51px;
      height: 30px;

      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 30px;
      /* identical to box height, or 188% */

      text-align: center;
      color: #FFFFFF;
      padding-left: 5px;
  }


@media screen and (max-width: 480px) {
    .deleteModalContainer {
      top: 28%;
      left: 50%;
    }
    .deleteConfirmation{      
        width: 254px;
        height: 24px;
        left: 64px;
        top: 40px;
    }
    .deleteConfirmationMessage{
        width: 309px;
        height: 40px;
        left: 36px;
        top: 112px;
      }
      .btnContainer{
        position: fixed;
        top: 170px;
        left: 16px;
      }
      .closeBtn{
        width: 163px;
        height: 40px;
        left: 16px;
        top: 232px;
      }
      .deleteBtn{
        width: 163px;
        height: 40px;
        left: 203px;
        top: 232px;
    }
      .deleteBtnImg{
        width: 20px;
        height: 20px;
    }
      .deleteText{
        width: 51px;
        height: 30px;   
    }
}