.editOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .editModalContainer {
    width: 382px;
    height: 325px;
    position: fixed;
    top: 35%;
    left: 50%;

    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    z-index: 2;
  }

  .editDataText{
    position: absolute;
    width: 162px;
    height: 24px;
    left: 16px;
    top: 12px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #2E2E2E;
}

.websiteNameContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 350px;
    height: 66px;
    left: 16px;
    top: 52px;
}
.websiteName{
    width: 96px;
    height: 18px;
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    color: #666666;
}
.inputField{
    box-sizing: border-box;

    width: 350px;
    height: 40px;
    padding-left: 10px;

    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
}
.passwordContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 350px;
    height: 66px;
    left: 16px;
    top: 142px;
}
.editBtnContainer{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 230px;
    left: 16px;
}
.cancelBtn{
    position: fixed;
    width: 163px;
    height: 40px;
    left: 16px;
    top: 242px;

    border: 1px solid #30AFB5;
    border-radius: 4px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */

    text-align: center;

    color: #30AFB5;
    cursor: pointer;
}
.saveBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: fixed;
    width: 163px;
    height: 40px;
    left: 203px;
    top: 242px;

    background: #30AFB5;
    border-radius: 4px;
    border: 1px solid #30AFB5;
    cursor: pointer;
}
.saveBtnImg{
    width: 20px;
    height: 20px;
}
.saveText{
    width: 38px;
    height: 30px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    
    color: #FFFFFF;
    padding-left: 5px;
}
.editMessage{
    position: absolute;
    top: 290px;
    left: 130px;
    font-size: 16px;
    color: red;
}
.passwordInput{
    display: flex;
    align-items: center;
}
.eyeButton{
    position: absolute;
    right: 0;
    padding-top: 5px;
    background: transparent;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}

  @media screen and (max-width: 480px) {
    .editModalContainer {
        top: 28%;
        left: 50%;
      }
    .editDataText{
        position: absolute;
        width: 162px;
        height: 24px;
        left: 16px;
        top: 12px;
    }

    .websiteNameContainer{
        position: absolute;
        width: 350px;
        height: 66px;
        left: 16px;
        top: 52px;
    }
    .websiteName{
        width: 96px;
        height: 18px;
    }
    .inputField{
        width: 350px;
        height: 40px;
        padding-left: 10px;
    }
    .passwordContainer{
        position: absolute;
        width: 350px;
        height: 66px;
        left: 16px;
        top: 142px;
    }
    .btnContainer{
        top: 230px;
        left: 16px;
    }
    .cancelBtn{
        width: 163px;
        height: 40px;
        left: 16px;
        top: 242px;
    }
    .saveBtn{
        width: 163px;
        height: 40px;
        left: 203px;
        top: 242px;
    }
    .saveBtnImg{
        width: 20px;
        height: 20px;
    }
    .saveText{
        width: 38px;
        height: 30px;
    }
  }