.noAuthNavbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80px;

    background-color: #59C5D0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.headerLock{
    margin-top: 20px;
    margin-left: 20px;
    width: 21.97px;
    height: 30px;
}
.keySafeIcon{
    position: absolute;
    width: 98px;
    height: 23px;
    left: 53px;

    margin-top: 29px;

    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    color: #FFFFFF;
}
.headerLoginBtn{
    outline: none;
    width: 74px; 
    height: 40px; 
    margin-top: 15px;
    margin-right: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    background-color: #59C5D0;
}
.headerLoginIcon{
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 188% */

    text-decoration: none;
    color: #FFFFFF;
}
.headerLogoutIcon{
    width: 44px;
    height: 30px;
    margin-left: -5px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */

    text-decoration: none;
    color: #FFFFFF;
}
.userInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 160px;
}
.userInfoAndLogin{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 256px;
}
.profilePhoto{
    width: 25px;
    height: 25px;
    margin-top: 28px;
}
.userName{
    width: 130px;
    height: 25px;
    margin-top: 31px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}


@media only screen and (max-width: 480px) {
    
    .noAuthNavbar{
        width: 480px;
        height: 80px;
    }
    .headerLock{
        width: 21.97px;
        height: 30px;
    }
    .keySafeIcon{
        width: 68px;
        height: 22px;
        top: 2px;
    }
    .headerLoginBtn{
        width: 74px;
        height: 40px;
        padding-left: 16px;
    }
    .headerLoginIcon{
        width: 44px;
        height: 30px;
    }
    .headerLogoutIcon{
        width: 44px;
        height: 30px;
        margin-left: -6px;
    }
    .userInfo{
        width: 155px;
    }
    .userInfoAndLogin{
        width: 240px;
    }
    .profilePhoto{
        width: 23px;
        height: 23px;
    }
    .userName{
        width: 128px;
        height: 25px;
    }
}