.landingPage{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.getStarted{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 589px;

    background: rgba(255, 237, 187, 0.4);
}
.getStartedImage{
    position: absolute;
    width: 352px;
    height: 213px;
    margin-top: -230px;
}
.getStartedinfo1{
    position: absolute;
    width: 266px;
    height: 34px;
    padding-left: 5px;
    padding-top: 70px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;

    color: #212121;
}
.getStartedinfo2{
    position: absolute;
    width: 309px;
    height: 60px;
    padding-top: 150px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    
    text-align: center;

    color: #666666;
}
.getStartedBtn{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    gap: 8px;

    position: absolute;
    width: 226px;
    height: 40px;
    margin-top: 380px;

    background: #30AFB5;
    border-radius: 4px;

    text-decoration: none;
}
.getStartedIcon{
    width: 91px;
    height: 30px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */

    text-align: center;
    color: #FFFFFF;
}
.rightArrow{
    width: 24px;
    height: 24px;
}
.subMoreInfoContainer{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
}
.subMoreInfo1{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 347px;
    height: 238px;
}
.subMoreInfo1image{
    width: 136px;
    height: 136px;
}
.subMoreInfo1heading{
    width: 345px;
    height: 34px;

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    /* identical to box height, or 142% */
    text-align: center;
    color: #212121;
}
.subMoreInfo1text{
    width: 347px;
    height: 52px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    text-align: center;
    color: #212121;
}
.subMoreInfo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    width: 347px;
    height: 238px;
}

@media screen and (max-width: 480px) {
    .getStarted{
        width: 480px;
    }
    .getStartedImage{
        left: 60px;
    }
    .getStartedinfo1{
        left: 115px;
        top: 330px;
    }
    .getStartedinfo2{
        width: 309px;
        height: 60px;
    }
    .getStartedBtn{
        width: 226px;
        height: 40px;
    }
    .getStartedIcon{
        width: 91px;
        height: 30px;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
    }
    .rightArrow{
        width: 24px;
        height: 24px;
        position: absolute;
        left: 160px ;
    }
    .subMoreInfoContainer{
        width: 100%;
        height: 650px;

        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding-bottom: 30px;
    }
    .subMoreInfo1{
        width: 347px;
        height: 238px;
        margin-top: -20px;
    }
    .subMoreInfo1image{
        width: 136px;
        height: 136px;
    }
    .subMoreInfo1heading{
        width: 343px;
        height: 30px;
        padding-bottom: 5px;
    }
    .subMoreInfo1text{
        width: 347px;
        height: 52px;
        line-height: 26px;
        padding-top: 5px;
    }
    .subMoreInfo2{
        width: 347px;
        height: 238px;
    }
}