.main-container{
    min-height: calc(100vh + 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 25px;
}
.headingContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 890px;
    padding-bottom: 20px;
}
.sub-main-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 890px;
}
.yourSavedPasswordText{
    width: 218px;
    height: 34px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;

    color: #2E2E2E;
}
.addNewPassword{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 103px;
    height: 32px;

    background: #30AFB5;
    border-radius: 4px;
    border: 1px solid #30AFB5;
    cursor: pointer;
} 
.addNewText{
    width: 131px;
    height: 20px;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    text-align: center;

    color: #FFFFFF;
}
.singlePasswordContainer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;

    width: 890px;
    height: 104px;
    background: #FFFFFF;
    border: 1px solid #D6F0F2;
    border-radius: 8px;
}
.commonImgNamePasswordDecypt{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 890px;
}
.namePasswordDecryptContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 820px;
}
.commonWebsiteImg{
    width: 48px;
    height: 48px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.namePasswordContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;

    width: 290px;
    height: 39px;
}
.subWebsiteNameContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 290px;
    height: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    /* black */
    color: #000000;
    padding-top: 15px;
}
.subPasswordContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 149px;
    height: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #8A8A93;
    padding-top: 20px;
}
.decryptBtn{
    width: 24px;
    height: 24px;
    border: 0px solid white; 
    background-color: transparent;
    padding-top: 32px;
    padding-right: 35px;
    cursor: pointer;
}
.decryptBtnImg{
    width: 25px;
    height: 20px;
    margin-left: -2px;
    background-color: transparent;
}
.editDeleteContainer{
    display: flex;
    flex-direction: row;
    width: 890px;

    border-top: 1px solid aliceblue;
}
.editContainer{
    display: flex;
    justify-content:flex-end;
    width: 810px;
    height: 32px;
    padding-top: 7px;
    padding-right: 40px;
}
.editSubContainer{
    display: flex;
    justify-content: center;
    gap: 4px;

    width: 46px;
    height: 17px;

    border: 0px solid white;
    background-color: transparent;
    cursor: pointer;
}
.editImg{
    width: 16px;
    height: 16px;
}
.editText{
    width: 26px;
    height: 17px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #30AFB5;
}
.deleteContainer{
    display: flex;
    justify-content: center;
    width: 80px;
    height: 32px;
    padding-top: 7px;
    padding-right: 24px;
}
.deleteSubContainer{
    display: flex;
    justify-content: center;
    padding: 0px;
    gap: 4px;

    width: 63px;
    height: 17px;

    border: 0px solid white;
    background-color: transparent;
    cursor: pointer;
}
.deleteImg{
    width: 16px;
    height: 16px;
}
.deleteTextBtn{
    width: 43px;
    height: 17px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #30AFB5;
}



@media screen and (max-width: 480px) {
    .headingContainer{
        width: 439px;
        padding-bottom: 20px;
    }
    .sub-main-container{
        gap: 16px; 
        width: 439px; 
    }
    .yourSavedPasswordText{
        width: 218px;
        height: 34px;
        line-height: 34px;
    }
    .addNewPassword{
        width: 103px;
        height: 32px;
    } 
    .addNewText{
        width: 131px;
        height: 20px;
    }
    .singlePasswordContainer{
        gap: 3px;
        width: 439px;
        height: 104px;
    }
    .commonImgNamePasswordDecypt{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 439px;
    }
    .commonWebsiteImg{
        width: 48px;
        height: 48px;
    }
    .namePasswordDecryptContainer{
        width: 360px;
    }
    .namePasswordContainer{
        width: 290px;
        height: 39px;
    }
    .subWebsiteNameContainer{
        gap: 16px;
    
        width: 290px;
        height: 18px;
        padding-top: 15px;
    }
    .subPasswordContainer{
        gap: 16px;
    
        width: 129px;
        height: 15px;
        padding-top: 20px;
    }
    .decryptBtn{
        width: 24px;
        height: 24px;
        padding-top: 36px;
    }
    .decryptBtnImg{
        width: 25px;
        height: 20px;
    }
    .editDeleteContainer{
        display: flex;
        flex-direction: row;
        width: 439px;
    }
    .editContainer{
        display: flex;
        justify-content: center;
        width: 220px;
        height: 32px;
        padding-top: 7px;

        border-top: 1px solid aliceblue;
        border-right: 1px solid aliceblue;
    }
    .editSubContainer{
        gap: 4px;
    
        width: 46px;
        height: 17px;
    }
    .editImg{
        width: 16px;
        height: 16px;
    }
    .editText{
        width: 26px;
        height: 17px;
    }
    .deleteContainer{
        display: flex;
        justify-content: center;
        width: 219px;
        height: 32px;
        padding-top: 7px;
    }
    .deleteSubContainer{
        gap: 4px;
    
        width: 63px;
        height: 17px;
    }
    .deleteImg{
        width: 16px;
        height: 16px;
    }
    .deleteTextBtn{
        width: 43px;
        height: 17px;
    }
}