/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.register{
  padding-bottom: calc(100vh + 200px);
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 18%;
  left: 18%;
  right: 12%;
  min-width: 330px;
  max-width: 430px;

  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.container .form{
  padding: 2rem;
}
.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
 .form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }
 .form input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }
 .forgetpassword{
  display: flex;
  justify-content: end;
 }
 
.form a{
  font-size: 16px;
  color: #009579;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
input.button{
  color: #fff;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
input.button:hover{
  background: #006653;
}
.signup{
  font-size: 17px;
  text-align: center;
  padding-top: 60px;
}
.signup label{
  color: #009579;
  cursor: pointer;
}
.signup label:hover{
  text-decoration: underline;
}
.messageDiv{
  position:absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}
.message{
  text-align: center;
  color: red;
}
@media screen and (min-width: 1024px) {
  .register{
    padding-bottom: calc(100vh - 112px);
  }
  .container{
    left: 34%;
  }
}